<div class="container-fluid">
    <!-- <h3>{{title}}</h3> -->
    <form #postform = 'ngForm' (ngsubmit) = submit()>
        <div>
            <H4><label for="quote">QOUTE</label></H4>
            <textarea name="quote-text" id="" cols="30" rows="5" [(ngModel)]="newPost.quote" name = "quote" required></textarea>
            Display {{newPost.quote}}
        </div> 
        <div>
            <H4><label for="author">AUTHOR</label></H4>
            <input type="text" [(ngModel)]="newPost.author" name ="author"   required>
            Display: {{newPost.author}}
        </div>
        <div>
            <H4><label for="submitter">Quote submitter</label></H4>
            <input type="text" [(ngModel)] = "newPost.submitter" name="submitter" required>
            Display: {{newPost.submitter}}
        </div>
        <button type="submit" class="btn btn-outline-light">Post quote</button>
    </form>
    
</div>
